@using WebApplication1.Models
@model Cart
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thanh toán</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Thanh toán</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>CHI TIẾT THANH TOÁN</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="name">
                            <span class="placeholder" data-placeholder="Họ"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="last" name="name">
                            <span class="placeholder" data-placeholder="Tên"></span>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="number">
                            <span class="placeholder" data-placeholder="Số điện thoại"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="compemailany">
                            <span class="placeholder" data-placeholder="Địa chỉ email"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>THÔNG TIN VẬN CHUYỂN</h3>
                                <div class="col-md-12 form-group p_star" style="padding:0;">
                                    <input type="text" class="form-control" id="add1" name="add1">
                                    <span class="placeholder" data-placeholder="Địa chỉ"></span>
                                </div>

                                <div class="col-md-12 form-group p_star" style="padding:0;">
                                    <select class="country_select">
                                        <option value="1">Bắc Từ Liêm</option>
                                        <option value="2">Nam Từ Liêm</option>
                                        <option value="3">Trung Hòa</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group p_star" style="padding:0;">
                                    <select class="country_select">
                                        <option value="1">Bắc Từ Liêm</option>
                                        <option value="2">Nam Từ Liêm</option>
                                        <option value="3">Trung Hòa</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Đơn hàng</h2>
                        @if (Model != null)
                        {
                            <ul class="list">
                                <li><a href="#">Sản phẩm <span>Thành tiền</span></a></li>
                                @foreach (var item in Model.ListCartItem)
                                {
                                    <li><a href="#">@item.sanpham.TenSP<span class="middle">x @item.quantity</span> <span class="last">@item.thanhtien</span></a></li>
                                }
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Tổng tiền<span>@Model.TongTien</span></a></li>
                                @*<li><a href="#">Phí vận chuyển <span>25.000</span></a></li>
                                <li><a href="#">Tổng tiền <span></span></a></li>*@
                            </ul>
                        }
                        else
                        {
                            <div>nothing in cart</div>
                        }

                    </div>
                    <div class="payment_item">
                        <div class="radion_btn">
                            <input type="radio" class="payment_method" id="p-option1" name="selector" value="1">
                            <label for="p-option1">Thanh toán khi nhận hàng</label>
                            <div class="check"></div>
                        </div>

                    </div>
                    <div class="payment_item active">
                        <div class="radion_btn">
                            <input type="radio" class="payment_method" id="p-option2" name="selector" value="2">
                            <label for="p-option2">Thẻ tín dụng</label>
                            <img src="/Content/img/product/card.jpg" alt="">
                            <div class="check"></div>
                        </div>
                    </div>
                    <div class="text-bg-danger">@ViewBag.Message</div>
                    @*<div class="creat_account">
                        <input type="checkbox" id="f-option4" name="abc">
                        <label for="f-option4">Tôi đã đọc và chấp nhận </label>
                        <a href="#">Điều khoản và điều kiện*</a>
                    </div>*@
                    
                    <div class="d-flex justify-content-end" style="margin-top:58px;">
                        <a class="primary-btn disabled_btn" href="" id="btn-thanhtoan">thanh toán</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<script>
    var payment_method = ""
    url_payment = "/GioHang/Payment/"
    $(".payment_method").change(function () {
        payment_method = this.value;
        $("#btn-thanhtoan").removeClass("disabled_btn").attr("href", url_payment + payment_method);
        console.log($("#btn-thanhtoan").attr("href"));
    })
</script>