@using KarmaModels.KarmaModels
@model List<TAIKHOAN>
@{
    ViewBag.Title = "TatCaTaiKhoan";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<head>
    <title>Tất cả tài khoản - Admin</title>
</head>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản lý tài khoản</h1>

    </div><!-- End Page Title -->

    <h3>
        Người dùng
        <a href="~/Admin/ThemTaiKhoan" class="btn btn-sm btn-outline-primary float-end"><i class="fas fa-plus-circle"></i> Add</a>
    </h3>
    <div class="box-body">
        <table width="100%" class="table table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã khách hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Mật khẩu</th>
                    <th>Quyền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Select((value, i) => new { value, i = i + 1 }))
                {
                    string id = "acount" + @data.i;
                    <tr>
                        <td>@data.i</td>
                        <td>@data.value.MaKH</td>
                        <td>@data.value.KHACHHANG.TenKH</td>
                        <td>@data.value.username</td>
                        <td>@data.value.KHACHHANG.Email</td>
                        <td>@data.value.pass</td>
                        <td>@data.value.Quyen</td>
                        <td class="text-end">
                            <a href="" id="@id" class="btn btn-outline-info btn-rounded" data-bs-toggle="modal" data-bs-target="#edit_prod_modal"><i class="fas fa-pen"></i></a>
                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>

                }


            </tbody>
        </table>
        <div class="modal fade" id="edit_prod_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="edit_prod_modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit_prod_modalLabel">SỬA THÔNG TIN TÀI KHOẢN</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <section class="section">
                            <form action="SuaThongTin" enctype="multipart/form-data" class="inf-basic-form">
                                <div class="row inf-basic-wrap">
                                    <div class="inf-basic">Tài khoản</div>

                                    <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                        <div class="col-2">UserName</div>
                                        <input type="text" name="name_prod" id="" style="width: 50%" value=@data.value.username>
                                    </div>
                                    <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                        <div class="col-2">Password</div>
                                        <input type="text" name="name_prod" id="" style="width: 50%" value=@data.value.pass />
                                    </div>
                                    <div class="d-flex name_prod-wrap align-items-center">
                                        <div class="col-2">Quyền</div>
                                        <select name="category" id="" style="width: 50%" title="@data.value.Quyen">
                                            <option value="saab">Khách </option>
                                            <option value="mercedes">Admin</option>
                                            <option value="mercedes">Vận chuyển</option>
                                        </select>
                                    </div>


                                </div>
                                <div class="row inf-basic-wrap" style="margin-top: 10px;">
                                    <div class="inf-basic">Thông tin Khách Hàng</div>
                                    <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                        <div class="col-2">Họ và Tên</div>
                                        <input type="text" name="price" id="" style="width: 50%" />
                                    </div>
                                    <div class="d-flex name_prod-wrap align-items-center">
                                        <div class="col-2">Giới Tính</div>
                                        <select name="category" id="" style="width: 50%"></select>
                                    </div>
                                    <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                        <div class="col-2">Email</div>
                                        <input type="text" name="price" id="" style="width: 50%" />
                                    </div>
                                    <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                        <div class="col-2">Địa Chỉ</div>
                                        <input type="text" name="price" id="" style="width: 50%" />
                                    </div>
                                    <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                        <div class="col-2">SĐT</div>
                                        <input type="text" name="price" id="" style="width: 50%" />
                                    </div>
                                </div>
                                <div class="footer-modal">
                                    <button class="btn btn-sm btn-secondary btn-exit">Thoát</button>
                                    <button class="btn btn-sm btn-primary btn-save" type="submit">Lưu</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit_prod_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="edit_prod_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_prod_modalLabel">SỬA THÔNG TIN TÀI KHOẢN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="section">
                        <form action="SuaThongTin" enctype="multipart/form-data" class="inf-basic-form">
                            <div class="row inf-basic-wrap"> 
                                <div class="inf-basic">Tài khoản</div>
                                
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">UserName</div>
                                    <input type="text" name="name_prod" id="" style="width: 50%" value= >
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">Password</div>
                                    <input type="text" name="name_prod" id="" style="width: 50%" />
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center">
                                    <div class="col-2">Quyền</div>
                                    <select name="category" id="" style="width: 50%"></select>
                                </div>


                            </div>
                            <div class="row inf-basic-wrap" style="margin-top: 10px;">
                                <div class="inf-basic">Thông tin Khách Hàng</div>
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">Họ và Tên</div>
                                    <input type="text" name="price" id="" style="width: 50%" />
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center">
                                    <div class="col-2">Giới Tính</div>
                                    <select name="category" id="" style="width: 50%"></select>
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">Email</div>
                                    <input type="text" name="price" id="" style="width: 50%" />
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">Địa Chỉ</div>
                                    <input type="text" name="price" id="" style="width: 50%" />
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">SĐT</div>
                                    <input type="text" name="price" id="" style="width: 50%" />
                                </div>
                            </div>
                            <div class="footer-modal">
                                <button class="btn btn-sm btn-secondary btn-exit">Thoát</button>
                                <button class="btn btn-sm btn-primary btn-save" type="submit">Lưu</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>



</main><!-- End #main -->
