@using KarmaModels.KarmaModels
@model List<TAIKHOAN>
@{
    ViewBag.Title = "TatCaTaiKhoan";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<head>
    <title>Tất cả tài khoản - Admin</title>
</head>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản lý tài khoản</h1>

    </div><!-- End Page Title -->

    <h3>
        Người dùng
        <a href="ThemTK.html" class="btn btn-sm btn-outline-primary float-end"><i class="fas fa-plus-circle"></i> Add</a>
    </h3>
    <div class="box-body">
        <table width="100%" class="table table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã khách hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Mật khẩu</th>
                    <th>Quyền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Select((value, i) => new { value, i = i + 1}))
                {
                <tr> 
                    <td>@data.i</td>
                    <td>@data.value.MaKH</td>
                    <td>@data.value.KHACHHANG.TenKH</td>
                    <td>@data.value.username</td>
                    <td>@data.value.KHACHHANG.Email</td>
                    <td>@data.value.pass</td>
                    <td>@data.value.Quyen</td>
                    <td class="text-end">
                        <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                        <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                }


            </tbody>
        </table>
    </div>



</main><!-- End #main -->
