@using KarmaModels.KarmaModels
@model List<SANPHAM>
@{
    ViewBag.Title = "TatCaSanPham";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<head>
    <title>Tất cả sản phẩm - Admin</title>
</head>

<main id="main" class="main">

    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page">Quản lý sản phẩm</li>
                <li class="breadcrumb-item active" aria-current="page">Tất cả sản phẩm</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid" style="padding: 0;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="arrange-prod" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Sắp xếp theo
                            </a>
                            <ul class="dropdown-menu arrangre-prod-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Giá</a></li>
                                <li><a class="dropdown-item" href="#">Tên</a></li>
                                <li><a class="dropdown-item" href="#">Số lượng</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex align-items-center form-search">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        <button class="btn btn-outline-dark btn-search" type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="table-resposive-lg">
            <table class="table table-list-prod">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        @*<th>Danh mục</th>*@
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>                   
                    @foreach (var data in Model.Select((value, i) => new { value, i=i+1 })) {
                    <tr>
                        <th scope="row">@data.i.ToString()</th>
                        <td>
                            <img src="/Content/Admin/img/product-1.jpg" class="img-product">
                        </td>
                        <td>@data.value.TenSP</td>
                        <td>@data.value.SoLuongTong</td>
                        <td>@data.value.DonGia</td>
                        <td>
                            <div>
                                <a href="" class="btn btn-outline-info btn-rounded btn-edit-prod" data-bs-toggle="modal" data-bs-target="#edit_prod_modal" data-id="@data.value.MaSP"><i class="fas fa-pen"></i></a>
                                <a href="" class="btn btn-outline-danger btn-rounded btn-del-prod" data-id="@data.value.MaSP"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    }                    
                </tbody>

            </table>
            <div class="page-control d-flex align-items-center justify-content-end">
                <ul class="d-flex align-items-center list-page">
                    <li><a href="" class="pag-link page-active">1</a></li>
                    <li><a href="" class="pag-link">2</a></li>
                    <li><a href="" class="pag-link">3</a></li>
                    <li><a href="" class="pag-link">...</a></li>
                    <li><a href="" class="pag-link">12</a></li>
                    <li><a href="" class="pag-link">Trang tiếp ></a></li>
                </ul>
            </div>
        </div>

    </section>
    <!-- Modal -->
    <div class="modal fade" id="edit_prod_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="edit_prod_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_prod_modalLabel">SỬA SẢN PHẨM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="section">
                        <form enctype="multipart/form-data" class="inf-basic-form">
                            <div class="row inf-basic-wrap">
                                <div class="inf-basic">Thông tin cơ bản</div>
                                <div class="img-prod">
                                    <div class="d-flex align-items-center justify-content-between" style="width: 31%">
                                        <div class="col-2" style="width:50%">
                                            Hình ảnh
                                        </div>
                                        <div class="up-file-wrap">
                                            <label for="file-img-prod" class="lb_up_imgprod">Chọn ảnh</label>
                                            <input type="file" name="file-img-prod" id="file-img-prod" hidden>
                                        </div>
                                    </div>
                                    <div class="preview-img-wrap">
                                        <img src="/Content/Admin/img/product-3.jpg" alt="preview" class="preview-img-prod">
                                    </div>
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">Tên sản phẩm</div>
                                    <input type="text" name="name_prod" id="" style="width: 50%" />
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center">
                                    <div class="col-2">Danh mục</div>
                                    <select name="category_prod" id="category_prod" style="width: 50%"></select>
                                </div>

                            </div>
                            <div class="row inf-basic-wrap" style="margin-top: 10px;">
                                <div class="inf-basic">Thông tin chi tiết</div>
                                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                                    <div class="col-2">Giá</div>
                                    <input type="text" name="price" id="price" style="width: 50%" />
                                </div>
                                <div class="d-flex name_prod-wrap align-items-center">
                                    <div class="col-2">Mô tả</div>
                                    <textarea name="description" id="description" cols="32" rows="3" style="width: 50%"></textarea>
                                </div>
                            </div>
                            <div class="footer-modal">
                                <button class="btn btn-sm btn-secondary btn-exit">Thoát</button>
                                <button class="btn btn-sm btn-primary btn-save" type="submit">Lưu</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
<script>
    var edit_btn = $(".btn-edit-prod");
    edit_btn.click(function () {
        var id_prod = $(this).data('id');
        url = "/Admin/getSanPhamById/" + id_prod;
        $.ajax({
            url: url,
            type: "POST",
            success: function (data) {
                console.log(data);
                console.log($("select[name='category_prod']"))
                $("input[name='name_prod']").val(data.TenSP);
                $("input[name='price']").val(data.DonGia);
                $("textarea[name='description']").val(data.MoTa);
            }
        })
    })
</script>
