@using KarmaModels.KarmaModels;
@model  IEnumerable<DANHMUCSP>
@using PagedList.Mvc;
@using System.Globalization;
@{
    ViewBag.Title = "DanhSachSanPham";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

@*Start Banner Area*@
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Danh mục sản phẩm</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Cửa Hàng<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Thời trang</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">


        @*bắt đầu phần bên trái*@
        <div class="col-xl-3 col-lg-4 col-md-5">
            @*danh mục*@
            <div class="sidebar-categories">
                <div class="head">Danh mục</div>
                <ul class="main-categories">


                    <li class="main-nav-list">
                        <a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable">
                            <span data-id="@Model.ElementAtOrDefault(0).MaDM" class="DanhMuc">@Model.ElementAtOrDefault(0).TenDM</span>
                        </a>
                    </li>


                    @for (int i = 1; i <= Model.Count() - 1; i++)
                    {
                        <li class="main-nav-list">
                            <a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable">
                                <span data-id="@Model.ElementAtOrDefault(i).MaDM">@Model.ElementAtOrDefault(i).TenDM</span>
                            </a>

                        </li>
                    }




                    @*@foreach (var it in Model)
                                {

                                    <li class="main-nav-list" id="danhmuc">
                                        <a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable">
                                            <span></span> @it.TenDM
                                        </a>

                                    </li>
                                }


                        </ul>
                    </div>*@

                    @*hết danh mục*@



                    @*bắt đầu phần lọc*@
                    <div class="sidebar-filter mt-50">

                        @*bắt đầu hãng sản xuất*@
                        <div class="common-filter">
                            <div class="head">Nhãn hàng</div>
                            @{
                                var NhaSX = (IEnumerable<NSX>)ViewBag.NhaSanXuat;
                            }
                            <ul>

                                @foreach (var it in NhaSX)
                                {

                                    <li class="filter-list">
                                        <input class="nhasx" class="pixel-radio" type="radio" name="NhanHang" value="@it.MaNSX"> @it.TenNSX
                                    </li>
                                }

                            </ul>
                        </div>
                        @*kết thúc hãng sản xuất*@


                        @*bắt đầu sao*@
                        <div class="common-filter">
                            <div class="head">Số sao</div>
                            <ul>
                                <li class="filter-list"><input class="SoSao" value="5" type="radio" name="Sao" checked="checked"> <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i></li>
                                <li class="filter-list"><input class="SoSao" value="4" type="radio" name="Sao"> <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i></li>
                                <li class="filter-list"><input class="SoSao" value="3" type="radio" name="Sao"> <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i></li>
                                <li class="filter-list"><input class="SoSao" value="2" type="radio" name="Sao"> <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i></li>
                                <li class="filter-list"><input class="SoSao" value="1" type="radio" name="Sao"> <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        @*kết thúcsao*@

                    </div>
                    @*kết thúc phần lọc*@



            </div>
        </div>
        @*kết thúc phần bên trái*@


        @*bắt đầu phần bên phải*@

    <div class="col-xl-9 col-lg-8 col-md-7">

        @*bắt đầu sắp xếp*@
        <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">

                <select id="SapXep">
                    <option value="1" selected>Giá tăng dần</option>
                    <option value="2">Giá giảm dần</option>
                </select>

            </div>
            @*kết thúc sắp xếp*@

        <div style="margin-left:350px">
            <input style="border-radius:5px;width:200px" placeholder="Tìm Kiếm" id="timkiem" type="search" name="name" value="" />
            <button id="nhan"><i class="fa fa-search"></i></button>
            
        </div>

          
                @*<span class="input-group-prepend">
                    <div class="input-group-text bg-transparent border-right-0">
                       
                    </div>
                </span>
                <input class="form-control py-2 border-left-0 border" type="search" value="..." id="example-search-input" />*@
                
            

        </div>
        
        

       


        @*bắt đầu hiện thị danh sách sản phẩm*@
        <section id="TraVeDs" class="lattest-product-area pb-40 category-list">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </section>
        @*kết thúc danh sách sản phẩm*@


    </div>
        @*kết thúc phần bên phải*@
      
    <script>

            function LoadDsSanPham (ChiSoTrang, MaDm, SapXep, MaNsx,sao) {
               
                $.ajax({
                    
                    type: "GET",// kiểu get/post mà action cần truy cập đến
                    data://dữ liệu truyền vào cho action,tên biến cần trùng với tên biến trong action
                    {
                        pageIndex :ChiSoTrang,
                        MaDanhMuc :MaDm,
                        SapXep :SapXep,
                        MaNSX :MaNsx,
                        Sao : sao
                    },


                    url: '/SanPham/DsSanPhamTheoTieuChi',// ‘/Controller/action’

                    dataType: 'html',
                    success: function (KetQuaTraVeHam) { // return của hàm sẽ truyền vào cho biến trong hàm này
                        $('#TraVeDs').html(KetQuaTraVeHam);


                    }

                });
        }


        function TimKiem(ChiSoTrang,TimKiem) {
            
            $.ajax({
                type: "GET",// kiểu get/post mà action cần truy cập đến
                data://dữ liệu truyền vào cho action,tên biến cần trùng với tên biến trong action
                {
                    pageIndex: ChiSoTrang,
                    TimKiem: TimKiem
                },


                url: '/SanPham/TimKiem',// ‘/Controller/action’

                dataType: 'html',
                success: function (KetQuaTraVeHam) { // return của hàm sẽ truyền vào cho biến trong hàm này
                    $('#TraVeDs').html(KetQuaTraVeHam);
                }
            });
        }

        $(document).ready(function () {
            $('#SapXep').change(function () {
               
                var Madm = $('.DanhMuc').data('id');
                var SoSao = $("input[type='radio'][name='Sao']:checked").val();
                var SapXep = $("#SapXep").val();
                var nsx = $("input[type='radio'][name='NhanHang']:checked").val();
                LoadDsSanPham(null, Madm, SapXep, nsx, SoSao);
            });
        });
       

        TimKiem(null, null);
        
       
      
    </script>


        <style>
            .DanhMuc {
                color: #f38904;
            }
           
        </style>

    </div>
</div>


