@using KarmaModels.KarmaModels;
@model SANPHAM
@using System.Globalization;
@using PagedList.Mvc;
@using WebApplication1.Models;

@{
    ViewBag.Title = "SanPhamChiTiet";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Chi Tiết Sản Phẩm </h1>
                <nav class="d-flex align-items-center">
                    <!-- <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">product-details</a> -->
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
            <img class="img-fluid" src="/Content/img/category/s-p1.jpg" alt="">

            </div>

         


            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    @{
                        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
                        //string gia = Model.DonGia.Value.ToString("#,###", cul.NumberFormat);
                        string gia = Model.DonGia.Value.ToString("#,###", cul.NumberFormat);
                    }
                    <span hidden class="MaSP" data-id="@Model.MaSP"></span>
                    <h3>@Model.TenSP</h3>
                    <h2>@gia đ</h2>
                    <ul class="list">
                        @{
                            var db = new KarmaDBContext();
                            string TinhTrang = "";
                            var NhaSx = db.NSXes.Find(Model.MaNSX);
                            if (Model.SoLuongTong == 0)
                            {
                                TinhTrang = "Hết Hàng";
                            }
                            else
                            {
                                TinhTrang = "Còn Hàng";
                            }

                        }
                        <li><a class="active" href="#   "><span>Thương Hiệu</span> : @NhaSx.TenNSX</a></li>

                        <li><a href="#"><span>Tình Trạng</span> : @TinhTrang</a></li>

                        @*lấy size*@
                        <li>

                            Size:  <select>


                                @foreach (var item in db.SIZEs.ToList())
                                {
                                    <option value="@item.MaSize">@item.Size1</option>
                                }

                            </select>
                        </li>

                        <br />
                        <h5>Chọn màu :</h5>
                        @foreach (var item in db.MAUSACs.ToList())
                        {
                            <li class="Color"><span class="Mau" style="background-color:@item.MaHeXan" data-id="@item.MaMau"></span></li>
                        }



                    </ul>

                    <style>
                        .Mau {
                            height: 36px;
                            width: 36px;
                            display: inline-block;
                            border-radius: 5px;
                            /* border: solid 3px #bbb295; */
                        }

                        .Color {
                            display: inline-block;
                            margin-left: 5px;
                        }

                        .Mau.Them {
                            border: solid 5px #736a6a;
                        }
                    </style>
                    <br />

                    @*// số lượng sản phẩm*@
                    <div class="product_count">
                        <label for="qty">Số Lượng:</label>

                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>

                    @*<p>@Model.MoTa</p>*@

                    <div style="margin-top:50px" class="card_area d-flex align-items-center">
                        <a class="primary-btn add-to-cart" id="@Model.MaSP" href="#">Thêm Vào Giỏ Hàng</a>
                        @*<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                    <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô Tả Sản Phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Thông Số</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Bình Luận</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Đánh Giá</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

                <p>
                    - Thông tin cơ bản của sản phẩm:
                    <ul>
                        <li>- Thương hiệu: @NhaSx.TenNSX</li>
                        <p>- @Model.MoTa</p>

                    </ul>
                </p>
                <p style="text-decoration:none">
                    ✔️BẢNG ĐO SIZE:
                    <li>👉 SIZE 39: chiều dài bàn chân 23cm, chiều ngang 10cm</li>
                    <li>👉 SIZE 40: chiều dài bàn chân 24cm, chiều ngang 10,2cm</li>
                    <li>👉 SIZE 41: chiều dài bàn chân 25cm, chiều ngang 10,4cm</li>
                    <li>👉 SIZE 42: chiều dài bàn chân 26cm, chiều ngang 10,6cm</li>

                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Loại Khóa</h5>
                                </td>
                                <td>
                                    <h5>Khóa dây</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Xuất xứ</h5>
                                </td>
                                <td>
                                    <h5>@NhaSx.DiaChi</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Chất Liệu</h5>
                                </td>
                                <td>
                                    @{
                                        var ChatLieu = (from sp in db.SANPHAMs

                                                        join chatlieu in db.CHATLIEUx on sp.MaCL equals chatlieu.MaCL

                                                        select new { chatlieu.ChatLieu1 }).FirstOrDefault();
                                    }
                                    @*<h5>Vải</h5>*@
                                    <h5>@ChatLieu.ChatLieu1</h5>
                                </td>
                            </tr>
                            @*<tr>
                                <td>
                                    <h5>Chiều cao cổ giày</h5>
                                </td>
                                <td>
                                    <h5>Cổ thấp</h5>
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                    <h5>Kiểm Tra Trước</h5>
                                </td>
                                <td>
                                    <h5>Có</h5>
                                </td>
                            </tr>
                            @*<tr>
                                <td>
                                    <h5>Kho Hàng</h5>
                                </td>
                                <td>
                                    <h5>1997</h5>
                                </td>
                            </tr>*@
                            @*<tr>
                                <td>
                                    <h5>Gửi Từ</h5>
                                </td>
                                <td>
                                    <h5>Hà Nội</h5>
                                </td>
                            </tr>*@
                            <!-- <tr>
                            <td>
                                <h5>Each Box contains</h5>
                            </td>
                            <td>
                                <h5>60pcs</h5>
                            </td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
            @*// đây là phân bình luận*@
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">

                    @*//Phần thống kế số sao*@
                    <div class="col-lg-3">
                        <div class="row total_rate">
                            <div class="col-2">

                                @{
                                    double TbSoSao = 0;


                                    var TbSao = db.BINHLUANSPs.Where(s => s.MaSP == Model.MaSP);
                                    if (TbSao.Any())
                                    {
                                        TbSoSao = TbSao.Average(t => t.Sao);
                                        
                                    }


                                }


                            </div>
                            <div class="col-8">
                                <div class="rating_list">

                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                @{

                                                    var MotSao = db.BINHLUANSPs.Count(s => s.MaSP == Model.MaSP && s.Sao == 1);
                                                    var HaiSao = db.BINHLUANSPs.Count(s => s.MaSP == Model.MaSP && s.Sao == 2);
                                                    var BaSao = db.BINHLUANSPs.Count(s => s.MaSP == Model.MaSP && s.Sao == 3);
                                                    var BonSao = db.BINHLUANSPs.Count(s => s.MaSP == Model.MaSP && s.Sao == 4);
                                                    var NamSao = db.BINHLUANSPs.Count(s => s.MaSP == Model.MaSP && s.Sao == 5);


                                                }



                                                5 Sao <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i> @NamSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 Sao <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i> @BonSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 Sao <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i> @BaSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 Sao <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i> @HaiSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 Sao <i style="color: #ffce3d" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i><i style="color: #9d8f8f" class="fa fa-star"></i> @MotSao
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="margin-left:10px;width:200px;height:100px" class="box_total">



                                <h4>@TbSoSao<i style="color:yellow;font-size:50px" class="fa fa-star"></i></h4>




                            </div>
                        </div>
                    </div>

                    @*// phần nhận xét*@
                    <div class="col-lg-9" id="TraVe">


                    </div>


                    <script>

                        function LoadDsBinhLuan(ChiSoTrang, MaSP) {

                            $.ajax({
                                type: "GET",// kiểu get/post mà action cần truy cập đến
                                data://dữ liệu truyền vào cho action,tên biến cần trùng với tên biến trong action
                                {
                                    pageIndex: ChiSoTrang,
                                    id: MaSP


                                },


                                url: '/SanPham/DsBinhLuan',// ‘/Controller/action’

                                dataType: 'html',
                                success: function (KetQuaTraVeHam) { // return của hàm sẽ truyền vào cho biến trong hàm này
                                    $('#TraVe').html(KetQuaTraVeHam);


                                }

                            });
                        }
                        var MaSanPham = $('.MaSP').data('id');
                        LoadDsBinhLuan(null, MaSanPham);

                        $('.Mau').click(function () {

                            $('.Mau').removeClass('Them');
                            $(this).addClass('Them');
                        })

                    </script>

                </div>
            </div>







        </div>
        
    </div>
</section>
<script>

    //var size = "";
    //var mau ="";

    var size = "";
    var mau = "";
    $('select').change(function () {
        var MaSize = $(this).val();
        size = MaSize.toString();
        alert(size);
    })

    $('.Mau').click(function () {

        var MaMau = $(this).data('id');
        mau = MaMau.toString();
        alert(mau);
    })

    $('.add-to-cart').click(function (e) {
        e.preventDefault();
        var id = $(this).attr('id');
        var url = "/GioHang/ThemVaoGioHang/";
        console.log(url);
        $.ajax({
            url: url,
            type: "POST",
            data: {
                id: id,
                size: size,
                mau: mau
            },
            
            success: function (data) {
                console.log(data)
                if (data.status == "successful") {
                    alert("Thêm vào giỏ hàng thành công!");
                }
            }
        });
    });
</script>
<!--================End Product Description Area =================-->
