@using KarmaModels.KarmaModels;
@model SANPHAM
@using System.Globalization;
@using PagedList.Mvc;
@using WebApplication1.Models;

@{
    ViewBag.Title = "SanPhamChiTiet";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Chi Tiết Sản Phẩm </h1>
                <nav class="d-flex align-items-center">
                    <!-- <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">product-details</a> -->
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="/Content/img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="/Content/img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="/Content/img/category/s-p1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    @{
                        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
                        string gia = Model.DonGia.Value.ToString("#,###", cul.NumberFormat);
                    }
                    <h3>@Model.TenSP</h3>
                    <h2>@gia VND</h2>
                    <ul class="list">
                        @{ 
                            var db = new KarmaDBContext();
                            string TinhTrang = "";
                            var NhaSx = db.NSXes.Find(Model.MaNSX);
                            if (Model.SoLuongTong == 0)
                            {
                                TinhTrang = "Hết Hàng";
                            }
                            else
                            {
                                TinhTrang = "Còn Hàng";
                            }

                        }
                        <li><a class="active" href="#"><span>Thương Hiệu</span> :@NhaSx.TenNSX</a></li>
               
                        <li><a href="#"><span>Tình Trạng</span> :@TinhTrang</a></li>
                    </ul>
                  
                    @*<p>
                        Chất liệu vải dệt cao cấp khiến giày thoáng khí không gây mùi.
                        Đế giày cao su đúc nguyên khối mang lại sự êm ái khi mang.Thiết kế phong cách, trẻ trung, năng động, tôn dáng khi đi giày
                        . Form ôm chân thoải mái ngay cả khi mang giày cả ngày dài.
                    </p>*@

                    <div class="product_count">
                        <label for="qty">Số Lượng:</label>
                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="primary-btn" href="#">Thêm Vào Giỏ Hàng</a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô Tả Sản Phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Thông Số</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Bình Luận</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

                <p>
                    - Thông tin cơ bản của sản phẩm:
                    <ul>
                        <li>- Thương hiệu: @NhaSx.TenNSX</li>
                        <p>- @Model.MoTa</p>
                    </ul>
                </p>
                <p style="text-decoration:none">
                    ✔️BẢNG ĐO SIZE:
                    <li>👉 SIZE 39: chiều dài bàn chân 23cm, chiều ngang 10cm</li>
                    <li>👉 SIZE 40: chiều dài bàn chân 24cm, chiều ngang 10,2cm</li>
                    <li>👉 SIZE 41: chiều dài bàn chân 25cm, chiều ngang 10,4cm</li>
                    <li>👉 SIZE 42: chiều dài bàn chân 26cm, chiều ngang 10,6cm</li>

                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Loại Khóa</h5>
                                </td>
                                <td>
                                    <h5>Khóa dây</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Xuất xứ</h5>
                                </td>
                                <td>
                                    <h5>@NhaSx.DiaChi</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Chất Liệu</h5>
                                </td>
                                <td>
                                    @{
                                        var ChatLieu = (from sp in db.SANPHAMs
                                                        join chitiet in db.CHITIETSPs on sp.MaSP equals chitiet.MaSP
                                                        join chatlieu in db.CHATLIEUx on chitiet.MaCL equals chatlieu.MaCL

                                                        select new { chatlieu.ChatLieu1 }).FirstOrDefault();
                                    }
                                    @*<h5>Vải</h5>*@
                                    <h5>@ChatLieu.ChatLieu1</h5>
                                </td>
                            </tr>
                            @*<tr>
                            <td>
                                <h5>Chiều cao cổ giày</h5>
                            </td>
                            <td>
                                <h5>Cổ thấp</h5>
                            </td>
                        </tr>*@
                            <tr>
                                <td>
                                    <h5>Kiểm Tra Trước</h5>
                                </td>
                                <td>
                                    <h5>Có</h5>
                                </td>
                            </tr>
                            @*<tr>
                            <td>
                                <h5>Kho Hàng</h5>
                            </td>
                            <td>
                                <h5>1997</h5>
                            </td>
                        </tr>*@
                            @*<tr>
                            <td>
                                <h5>Gửi Từ</h5>
                            </td>
                            <td>
                                <h5>Hà Nội</h5>
                            </td>
                        </tr>*@
                            <!-- <tr>
                        <td>
                            <h5>Each Box contains</h5>
                        </td>
                        <td>
                            <h5>60pcs</h5>
                        </td>
                    </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
            @*// đây là phân bình luận*@
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">

                    @*//Phần thống kế số sao*@
                    <div class="col-lg-3">
                        <div class="row total_rate">
                            <div class="col-2">
                                @*<div class="box_total">

                                    <h4>4.0</h4>

                                </div>*@
                            </div>
                            <div class="col-8">
                                <div class="rating_list">

                                    <ul class="list">
                                        <li>
                                            <a href="#">

                                                5 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @ViewBag.NamSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @ViewBag.BonSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @ViewBag.BaSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @ViewBag.HaiSao
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @ViewBag.MotSao
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*// phần nhận xét*@
                <div class="col-lg-9">

                    @{
                        PagedList.PagedList<BinhLuan> BinhLuan = (PagedList.PagedList<BinhLuan>)ViewBag.NDBinhLuan;

                    }
                    <div class="comment_list">


                        @foreach (var it in BinhLuan)
                        {
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="/Content/img/product/review-1.jpg" alt="" width="71" height="71" class="rounded-circle">

                                    </div>
                                    <div class="media-body">
                                        <h4>@it.TenKH</h4>
                                        <h5>@it.NgayBinhLuan.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</h5>
                                        @for (int i = 1; i <= @it.Sao; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }

                                        <a class="reply_btn" href="#">Phản Hồi</a>
                                    </div>
                                </div>
                                <p style="margin-left : 86px">@it.ND</p>
                                <hr style="border: 1px solid " />
                            </div>

                        }



                    </div>

                    @Html.PagedListPager(BinhLuan, page => Url.Action("SanPhamChiTiet", new { page }))

                    @*@PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "contact", InsertionMode = InsertionMode.Replace });*@

                    @*@Html.Partial("BinhLuanPatialView", BinhLuan);*@




                </div>

                    @*Gửi nhận xét
        //////////////*@

                    @*<div class="col-lg-6">
            <div class="review_box">
                <h4>Gửi Nhận Xét</h4>
                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Họ Và Tên">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="number" name="number" placeholder="Số Điện Thoại">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Nhận Xét"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn primary-btn">Gửi</button>
                    </div>
                </form>
            </div>
        </div>*@

                </div>
            </div>




            @*//////////////////////////  phần đánh giá sao*@

            <!--<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">

                                    <h4>4.0</h4>

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">

                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                5 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="/Content/img/product/review-1.jpg" height="71" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Quang Huy đẹp trai nhất lớp</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>giày đẹp</p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="/Content/img/product/review-2.jpg" height="71" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Tùng Lâm trưởng CLB Msec</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Tuyệt Vời</p>
                            </div>
                             <div class="review_item">
                        <div class="media">
                            <div class="d-flex">
                                <img src="/Content/img/product/review-3.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Blake Ruiz</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo</p>
                    </div> 
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Thêm Đánh Giá</h4>
                            <p>Đánh Giá Của Bạn:</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>Xuất Sắc</p>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Họ Và Tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ Và Tên'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number" placeholder="Số Điện Thoại" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số Điện Thoại'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Đánh Giá" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Đánh Giá'"></textarea></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Gửi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->

            @*hết phần đánh giá
            //////////////*@



        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
